:root {
    --aquamarine : #A2C4E0;
    --mimosa: #F7CB2D;
    --blue-grotta: #0D659D;
    --royal-blue: #1390E0;
}

body {
    background-color: var(--mimosa);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.page-wrapper {
    display: flex;
    align-items: center;
}


.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000000;
    background-color: var(--aquamarine);
    border-radius: 25px;
    width: 800px;
    height: 500px;
    margin: 10px;
    padding: 0 20px;
    box-shadow: 10px 10px #ffffff;
    text-align: center;
    gap: 10px;
}

 h1 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 90px;
}
  p {
     font-size: 16px;
 }

