
body {
    background-color: var(--mimosa);
}

.row {
    display: flex;
        justify-content: space-between;
        padding: 0 50px;
}
h1 {
    font-size: 40px;
    font-weight: bolder;
    color: var(--royal-blue);
}

.cat-form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cat-title {
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: bolder;

    &:hover {
        color: var(--royal-blue);
        transform: scale(1.1);

    }
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cat-img-wrapper {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category-ducks {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

