
body {
    background-color: var(--mimosa);
    font-family: Arial;
}

p {
    margin: 0;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 344px;
    height: 540px;
    background-color: white;
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

button {
    color:#ffffff;
    background-color: #292929;
    width: 200px;
    height: 40px;
    border-radius: 25px;

    &:hover {
        background-color: var(--royal-blue);
    }
}

.duck {
    width: 250px;
    height: auto;
}

label {
    text-transform: uppercase;
    font-weight: normal;
}