
:root {
    --aquamarine : #a2c4fa;
    --mimosa: #F7CB2D;
    --blue-grotta: #0D659D;
    --royal-blue: #1390E0;
}
.container{
    padding: 15px;
    width: 50dvw;
    height: 80dvh;
    justify-content: center;
    background-color: white;
    border-radius: 15px;

}

form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background-color: #F7CB2D;
    display: block;
    margin-left: 5px;
    justify-content: center;

}


.avatar{
    display: flex;
    width: 200px;
    height: 200px;
}
