body {
    background-color: var(--mimosa);
}

.update-container {
    display: flex;
    justify-content: center;
}


.form-container {
    display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: white;
    min-width: 80vw;
}

.update-user-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;

}

.update-password-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 300px;

    &form-group {

        &input {

            border: 1px solid var(--mimosa);
        }
    }

}

button {
    align-self: center;
}

#temp-pic {
    margin-top: 70px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /*aspect-ratio: 1/1;*/
    object-fit: cover;
}


